@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 255 255 255;
    --color-primary: 6 95 70;
    --color-primary--light: 4 120 87;
    --color-primary--accent: 22 163 74;
    --color-primary--inside--text: 209 250 229;

    --color-ringprimary--neutral: 34 197 94;
    --color-ringprimary--dark: 22 101 52;

    --color-btprimary-bg--neutral: 163 230 53;
    --color-btprimary-bg--hover: 190 242 100;
    --color-btprimary-text--neutral: 6 78 59;

    --color-btsecondary-bg--neutral: 255 255 255;
    --color-btsecondary-bg--hover: 236 253 245;
    --color-btsecondary-text--neutral: var(--color-primary);

    --color-btdark-bg--neutral: var(--color-primary);
    --color-btdark-bg--hover: var(--color-primary--accent);
    --color-btdark-text--neutral: 255 255 255;

    /* ... */
  }
}